<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="Fullstack_JavaScript_developer_test_0"></a>Full-stack JavaScript developer test</h1>
<h3 class="code-line" data-line-start=2 data-line-end=3 ><a id="File_structure_2"></a>File structure</h3>
<pre><code class="has-line-data" data-line-start="4" data-line-end="7">Database.(ts/js)    Simulates our database
app.(ts/js)         Where the magic happens. Put your code in this file
</code></pre>
<p class="has-line-data" data-line-start="8" data-line-end="9">Feel free to make new files and install npm packages of your choice. You can use TypeScript or write in plain JavaScript (ES6+).</p>
<h3 class="code-line" data-line-start=10 data-line-end=11 ><a id="Task_10"></a>Task</h3>
<p class="has-line-data" data-line-start="11" data-line-end="13">We are running a callcenter. This callcenter has queues (telephone lines) to where we receive calls from our customers.<br>
  We also have a number of agents to answer these calls.</p>
<p class="has-line-data" data-line-start="14" data-line-end="16">Each call has 3 events, that will randomly be simulated by function <em>CallSimulator</em>.<br>
  Do not make any changes in this function. Payload of this function is emitted to function <em>eventHandler</em> where you can handle the received payload.</p>
<pre><code class="has-line-data" data-line-start="17" data-line-end="21">RINGING     A calls has been initiated, waiting for an agent to answer.
ANSWER      An agent has answered the call
HANGUP      Call has ended
</code></pre>
<p class="has-line-data" data-line-start="23" data-line-end="25">Structure the data according to the clientsides need and send to function <em>WebsocketEmitter</em> <strong>maximum</strong> once per second.<br>
  <em>Do not make these tables. Sending the needed data to function WebsocketEmitter will be enough</em></p>
<pre><code class="has-line-data" data-line-start="27" data-line-end="32">ID  Queue name  Calls waiting   Calls ongoing   Calls finished
1   Queue 1     2               1               50
2   Queue 2     0               0               11
...
</code></pre>
<pre><code class="has-line-data" data-line-start="34" data-line-end="39">ID  Agent name  Status              Calls taken
1   Agent 1     In Call             10
2   Agent 2     Waiting for call    5
...
</code></pre>
<h3 class="code-line" data-line-start=40 data-line-end=41 ><a id="Think_about_40"></a>Think about</h3>
<ul>
  <li class="has-line-data" data-line-start="41" data-line-end="42">Structure and performance of your code using OOP method</li>
  <li class="has-line-data" data-line-start="42" data-line-end="43">Amount of data transaction to clientside</li>
  <li class="has-line-data" data-line-start="43" data-line-end="44">Readability of your code</li>
</ul>